* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: initial;

  font-family: "Segoe UI Variable Display", "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  box-sizing: border-box;
  height: 100vh;
  color: #d3d3d3;
  background-color: #191919;
}

*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #191919;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #818181;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #191919;  /* creates padding around scroll thumb */
}


.barrasuperior {
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  padding: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}
.ladoIzq {
  width: 50%;
  justify-content: start;
  align-items: center;

  background-color: rgba(0, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#Menu{

display: flex;
gap: 10px;
padding: 8px;
align-items: center;
font-size: 20px;
  cursor: pointer;
}
#directorio {
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;

  line-height: 1.2;
  color: rgba(255, 255, 255, 0.81);
}
#fecha{
    color: rgba(255, 255, 255, 0.283);
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.2;
}
#compartir,#nuevo,#comentarios,#historial,#opciones{
    cursor: pointer;
    padding: 8px;
}
#nuevo:hover,#compartir:hover,#Menu:hover,#comentarios:hover,#historial:hover,#opciones:hover{
    background-color: #2e2e2e;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.5s ease; 
}

.ladoDer {
    width: 50%;
    justify-content: end;
    align-items: center;
  font-size: 14px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 5px;
}

.cuerpo {

  width: 100%;
  height: 100vh;
}
.tituloitem{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.473);
    font-size: 12px; 
}
.items{
    color: rgba(255, 255, 255, 0.473);
    display:  flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    font-size: 14px;
    align-items: center;
    white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items p{
  
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
    width: 150px;
}
.items i{
    color: rgba(255, 255, 255, 0.283);
}

.opitems{
    color: rgba(255, 255, 255, 0.473);
    display:  flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    font-size: 14px;
    align-items: center;
    white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.opitems p{
  
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
    width: 150px;
}
.opitems i{
    color: rgba(255, 255, 255, 0.283);
}
.iconstem{
    color: rgba(255, 255, 255, 0.034);
}
    .perfil{

        display:  flex;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
        align-items: center;
    }
    .perfil p{
        font-size: 14px;
        white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
        overflow: hidden; /* Oculta el texto que se desborda del contenedor */
        text-overflow: ellipsis;
        width: 150px;
    }
.perfil img{
    width: 20px;
}
#perfil-flecha{
    color: rgba(255, 255, 255, 0.283);
    font-size: 10px;
}
#menu-lateral {
    position: fixed;
    top: 0;
    left: -900px; /* Inicialmente fuera de la vista */
    width: 240px;
    height: 100%;
    background-color: #33333300;
    color: white;
    padding-top: 60px;
    box-sizing: border-box;
    z-index: 1000;
    
    transition: left 0.1s ease-in; /* Animación de deslizamiento */
}
.menu-Content{
    margin-top: 10px;
    padding: 15px;
    width: 280px;
    padding-top: 30px;
    min-height: 700px;
    background-color: #202020;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-top-right-radius: 10px;
    border-right: #d3d3d318 solid 0.1px;
    border-bottom-right-radius: 10px
}

#menu-lateral a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
}

.menu-Content .items:hover {
    background-color: #353535;
    border-radius: 5px;
    cursor: pointer;

}

.portada{
    background-image: url(../img/fondo1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:20%;
}
.Encabezado{
    align-items: center;
    font-size: 36px;
width: 100%;
    gap: 10px;
    display: flex;
}
.contenido-cuerpo{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    max-width: 100%;
    padding-left: calc(96px + env(safe-area-inset-left));
    padding-right: calc(96px + env(safe-area-inset-left));

}
.Encabezado-text{
    color: #d3d3d3;
    background-color: #19191900;
    border: none;
    outline: none;
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgba(255, 255, 255, 0.81);
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 32px;
    font-weight: 700;
    margin: 0px; /* Elimina el borde azul de enfoque */
}
.input{
    color: #d3d3d3;
    background-color: #19191900;
    border: none;
    outline: none;
    max-width: 100%;
    width: 100%;
    word-break: break-word;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    margin: 0px;
}

.descripcion{
    width: 50% !important;
    height:60PX;
    word-wrap: break-word;
 
}

.descripcionproject{
    width: 100% !important;
    height:100PX;
    word-wrap: break-word;

 
}

#descripcion{
    width: 100%;
    height:100%;
    overflow: visible; /* Ocultar barra de desplazamiento */
    resize: none;
}
.input2{
    border: none;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


.editor{

    background-color: #202020;
    width:fit-content;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border: 0px;
    display: none;
     position: absolute; 
}
.editor button{    color: #d3d3d3;
    background-color: #19191900;
    border: 0px;
    padding: 8px;
    cursor: pointer;
}
.editor button:hover{
    background-color: #2e2e2e;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.5s ease; 

} 
.editor select{
    background-color: #19191900;
    border: 0px;
    color: #d3d3d3;
    padding: 8px;
    cursor: pointer;
}
.editor select:hover{
    background-color: #2e2e2e;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.5s ease; 

} 


#editortext{
margin-top: 10px;
width: 100%;
min-height: 100vh;
}

#popup-menu {
    z-index: 1000;
}

#menuheading {
    display: none;
    position: absolute;
    z-index: 1;

}
#pop{
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: start;
    padding: 10px;
    background-color: #202020;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-top-right-radius: 5px;
    border-right: #d3d3d318 solid 0.1px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}
#pop button {
    padding: 8px;
    cursor: pointer;
}
#pop button:hover {
    background-color: #2e2e2e;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.5s ease; 

}
#bodyy{
    color: #d3d3d3;
}
ul{
    list-style: initial;
    margin-left: 20px;
}
ol{
    list-style: initial;
    margin-left: 20px;
}

#galeria {
    position: absolute;
    top: 90px;
    display: none;
    right: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 600px;
    background-color: #202020;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    z-index: 100000;
    border-radius: 10px;
    padding: 10px;
  }
  .mostrargaleria{
    display: flex !important;
  }
  .ocultarGaleria{
    display: none !important;
  }
  #galeria img {
    width: 150px;
    cursor: pointer;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  #galeria img:hover {
    transform: scale(1.1);
  }

#menuop {
    position: absolute;
    padding: 20px;
    top: -15220px;
    right: 20px;
    margin-top: 10px;
    width: auto;
    background-color: #202020;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    border-right: #d3d3d300 solid 0.1px;
    z-index: 100000;
    transition: background-color 0.3s ease, color 0.5s ease; 

}
.perfilnuevo{
    display: flex;
    background-color: #2e2e2e;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}
.perIzq{
    background-image: url(../img/perfil.webp);
    background-size:200px;
    overflow: hidden;
    background-position: center;
    width: 50%;
}
.perDer{
    width: 50%;
    padding: 10px;
    color: white;
    font-weight: 600;
    display: flex;
}
#menuop2 {
    position: absolute;
    padding: 20px;
    top: -15220px;
    right: 20px;
    margin-top: 10px;
    width: 210px;
    background-color: #131313;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;

    border: 1px solid #d3d3d318 ;
    transition: background-color 0.3s ease, color 0.5s ease; 
}
#nuevoop {
    position: absolute;
    padding: 20px;
    top: -15220px;
    right: 20px;
    margin-top: 10px;
    width: 210px;
    background-color: #131313;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;

    border: 1px solid #d3d3d318 ;
    transition: background-color 0.3s ease, color 0.5s ease; 
}

#copiar {
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 10px;
    margin-top: 10px;
    color: #b8b8b8;
    cursor: pointer;
    width: auto;
    background-color: #131313;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    border: 1px solid #d3d3d318 ;
    transition: background-color 0.3s ease, color 0.5s ease; 
}

#EditarPortada {
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 10px;
    z-index: 2;
    font-size: 13px;
    padding: 10px;
    margin-top: 10px;
    color: #646464;
    cursor: pointer;
    width: auto;
    background-color: #131313;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    border: 1px solid #d3d3d318 ;
    transition: background-color 0.3s ease, color 0.5s ease; 
}
#EditarPortada:hover{
    color: #ffffff;
}

#menuop2 .opitems{
    cursor: pointer;
    padding: 10px;
}

#menuop2 .opitems:hover{
    background-color: #2e2e2e;
    border-radius: 10px;
    color: white;
   
    transition: left 0.1s ease-in;
}
#nuevoop .opitems{
    cursor: pointer;
    padding: 10px;
}

#nuevoop .opitems:hover{
    background-color: #2e2e2e;
    border-radius: 10px;
    color: white;
   
    transition: left 0.1s ease-in;
}


#menuop .opitems{
    cursor: pointer;
    padding: 8px;
}

#menuop .opitems:hover{
    background-color: #2e2e2e;
    border-radius: 10px;
    color: white;
   
    transition: left 0.1s ease-in;
}

.renglon{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.inputnew{
    border: 1px solid #525252;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b2b2b;
    color: #d3d3d3;
}
hr{
   height:1px ;
   border-radius: 20px;
   background-color: #2b2b2b; 
   border: .5px solid #2b2b2b; 
   margin: 10px;
}
.btninvitar{
    border-radius: 10px;
    width: 60px;
    border: 1px solid #2a9df5;
    background-color: #1290f0;
    color: white;
  
    cursor: pointer;

}
.mostrar {
    top: 50px !important;
    right: 20px;
    display: block  !important;
}

.ocultar {
    top: -15220px;
    right: 20px;
    display: none  !important;
}

