

.contenidoinicio{
    display: flex;
    height: 100%;
    justify-content: center;
}
.contenido{
    box-sizing: border-box;
    background-color: rgba(0, 255, 255, 0);
    width: 60%;
    height: 100%;
}

.tituloPrincipal{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  
}

.carruselcard{
    display: flex;
    overflow: scroll;
    width: 100%;
    gap: 40px;
    padding: 10px;
    padding-bottom: 40px;

}
.card{
    background-color: #202020 !important ;
    max-width: 250px;
    min-width: 250px;
    border-radius: 20px;
    word-wrap: break-word;
   
}
.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.219);
   cursor: pointer;
}
.subtitulo-seccion{
    align-items: center;
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    padding: 20px;
font-size: 15px;
color: #818181;
}


.portada-card{
width: 100%;

background-size: cover;
background-color: rgba(0, 255, 255, 0);
height: 50px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

.card-Titulo{
    padding: 20px;
    width: 250px;
    font-size: 22px;
    font-weight: 600;
}
.card-Titulo p {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
}
.card-pie{
    align-items: end;
    display: flex;
    gap: 10px;
    padding: 20px; 
}
.card-pie img{
    width: 20px;
}
.card-pie p{
    color: #5a5a5a;
    font-size: 15px;
}