*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #191919;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #818181;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #191919;  /* creates padding around scroll thumb */
}


.contenidoinicio{
    display: flex;
    height: 100%;
    justify-content: center;
}
.contenido{
    box-sizing: border-box;
    background-color: rgba(0, 255, 255, 0);
    width: 60%;
    height: 100%;
}

.tituloPrincipal{
    text-align: start;
    font-size: 45px;
    font-weight: 800;
    color: white;
  
}

.carruselcard{
    display: flex;
    overflow: scroll;
    width: 100%;
    gap: 40px;
    padding: 10px;
    padding-bottom: 40px;

}
.card{
    background-color: #202020 !important ;
    max-width: 200px;
    min-width:  200px;
    border-radius: 20px;
    word-wrap: break-word;
   
}

.folder{
    max-width: 200px;
    min-width:  200px;
    border-radius: 20px;
    word-wrap: break-word;
    
}

.folder:hover .nfolder {
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.884));
    transition: all 0.3s ease; /* Suaviza la transición */
}

/* Opcional: Efecto adicional al hacer hover sobre el folder */
.folder:hover {
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}


.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(20, 19, 19, 0.884);
   cursor: pointer;
}
.subtitulo-seccion{
    align-items: center;
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    padding: 20px;
font-size: 15px;
color: #818181;
}


.portada-card{
width: 100%;
background-size: cover;
background-color: rgba(0, 255, 255, 0);
height: 50px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

.card-Titulo{
    padding: 10px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
}
.card-Titulo p {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
}
.card-pie{
    align-items: end;
    display: flex;
    gap: 10px;
    padding: 20px; 
}

.folder-Titulo{
    color: #e8e8e8;
    padding: 10px 0px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
}
.folder-Titulo p {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;
}
.nfolder{
    font-size: 150px;
}
.folder-pie{
    align-items: end;
    display: flex;
    gap: 10px;
}
.folder-pie img{
    width: 15px;
}
.folder-pie p{
    color: #5a5a5a;
    font-size: 12px;
}
.card-pie img{
    width: 15px;
}
.card-pie p{
    color: #5a5a5a;
    font-size: 12px;
}
